/* Navbar */

.menuk-4 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.menuk-4 * {
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.menuk-4 li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.5em;
    overflow: hidden;
}

.menuk-4 a {
    padding: 0.3em 0;
    color: #212121;
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0;
    text-decoration: none;
}

.menuk-4 a:before,
.menuk-4 a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.menuk-4 a:before {
    bottom: 100%;
    display: block;
    height: 3px;
    width: 100%;
    content: "";
    background-color: #fff;
}

.menuk-4 a:after {
    padding: 0.3em 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    content: attr(data-hover);
    color: #212121;
    white-space: nowrap;
}

.menuk-4 li:hover a,
.menuk-4 .current a {
    transform: translateY(100%);
}

.head{
    background-image: url(img/baground\ 1.png);
}



.head{
    padding-bottom: 2em;
}


/* navbar end */


*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    box-sizing: border-box;
}

.head{
    background-image: url(img/baground\ 1.png);
}

header{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

header p{
    font-size: larger;
}

.home{
    display: flex;
}

.home p{
    font-size: 50px;
    width: 60%;
    padding-left: 2em;
    padding-top: 2em;
}


/* contact */
.cons{
    display: flex;
    width: 800px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

html body {
    margin: 0;
    padding: 0;
}

h1 h2 {
    text-align: end;
}

.layanan.satu {
    background-color: rgba(103, 103, 219, 0.233);
}

.layanan.dua {
    background-color: rgba(223, 140, 140, 0.295);
}

.layanan {
    width: 40%;
    padding: 5%;
    box-sizing: border-box;
}

.layanan h2 {
    text-align: center;
}

.medsos {
    font-size: 30px;
}

.medsos img {
    padding-bottom: 10px;
}

.form-group {
    display: flex;
}
    
.feedback {
    text-align: center;
    margin: auto;
}

.form-group {
    margin-bottom: 1rem;
    display: -webkit-box;
    margin-top: 5%;
    width: 400px;
    padding: 10px;
    
    
}

.form-group input {
    width: 60%;
    height: 40px;
    padding: 15px;
    border-radius: 15px;
}

.layanan.satu h2{
    margin-bottom: 1em;
}

.layanan.satu ul li a{
    padding-bottom: 3em;
}

.siap{
    display: flex;
    padding-bottom: 1em;
    width: 1000px;
    text-align: center;
}

.siap li{
    text-align: center;
    padding-top: 12px;
    padding-left: 1em;
}

.siap li a{
    color: black;
    text-decoration: none;

}
.siap li a:hover{
    color: white;
}


.layanan.satu ul{
    display: flex;
    flex-wrap: wrap;
}

.btn{
    background: purple;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.btn:hover{
    background: rgb(108, 0, 108);
}


/* contact end */