.menuaja {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.menuaja * {
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.menuaja li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.5em;
    overflow: hidden;
}

.menuaja a {
    padding: 0.3em 0;
    color: #212121;
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0;
    text-decoration: none;
}

.menuaja a:before,
.menuaja a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.menuaja a:before {
    bottom: 100%;
    display: block;
    height: 3px;
    width: 100%;
    content: "";
    background-color: #fff;
}

.menuaja a:after {
    padding: 0.3em 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    content: attr(data-hover);
    color: #212121;
    white-space: nowrap;
}

.menuaja li:hover a,
.menuaja .current a {
    transform: translateY(100%);
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    box-sizing: border-box;
}

.head{
    background-image: url(img/baground\ 1.png);
}

.top{
    display: flex;
    justify-content: space-around;
    padding-top: 2em;
}

.top p{
    font-size: larger;
}

.head{
    padding-bottom: 2em;
}




.cons {
    width: 800px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

html body {
    margin: 0;
    padding: 0;
}

h1 h2 {
    text-align: center;
}

.layanan.satu {
    background-color: rgba(103, 103, 219, 0.233);
}

.layanan.dua {
    background-color: rgba(223, 140, 140, 0.295);
}

.layanan {
    width: 40%;
    padding: 5%;
    box-sizing: border-box;
}

.layanan h2 {
    text-align: center;
}

.medsos {
    font-size: 30px;
    
}

.medsos img {
    padding-bottom: 10px;
}

.form-group {
    display: flex;
}
    
.feedback {
    text-align: center;
    margin: auto;
}

.form-group {
    margin-bottom: 1rem;
    display: -webkit-box;
    margin-top: 5%;
    width: 400px;
    padding: 10px;
    
    
}

.form-group input {
    width: 60%;
    height: 40px;
}

.siap li a{
    color: black;
    text-decoration: none;
}
.siap li a:hover{
    color: white;
}

.siap li{
    padding-bottom: 1em;
}
